@model ActiveUp.Net.Mail.MessageCollection
@{
    ViewBag.Title = "Mail Box";
}


<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-responsive">
                    <tbody>
                        @foreach (ActiveUp.Net.Mail.Message message in Model)
                        {
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" style="text-decoration:none"
                                       onclick="showMail(`@message.From`,`@message.Subject`,`@message.BodyHtml.Text`,`@message.BodyText.Text`)">
                                        @message.From
                                        <br />
                                        @message.Subject
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div id="mailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subject"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-x: scroll; overflow-y: scroll">
                <div id="from"></div>
                <br />
                <div id="body"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showMail(from, subject, htmlBody, textBody) {
        if (htmlBody !== '') {
            $('#body').html(htmlBody);
        } else {
            $('#body').text(textBody);
        }

        $('#subject').text(subject);
        $('#from').text(from);

        $('#mailModal').modal('show');
    }
</script>

