
@{
    ViewBag.Title = "Change Password";
}

<section class="dashboard-counts section-padding">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>Change Password</h2>
                    </div>
                    <div class="card-body" style="padding:10px">
                        <div class="form-group">
                            <label><strong>Old Password</strong></label>
                            <input type="password" id="oldPassword" class="form-control"
                                   placeholder="Old Password" />
                        </div>
                        <div class="form-group">
                            <label><strong>New Password</strong></label>
                            <input type="password" id="newPassword" class="form-control"
                                   placeholder="New Password" />
                        </div>
                        <div class="form-group">
                            <label><strong>Confirm Password</strong></label>
                            <input type="password" id="confirmPassword" class="form-control"
                                   placeholder="Confirm Password" />
                        </div>
                        <div class="text-center">
                            <button type="button"
                                    class="btn btn-primary" title="Change Password"
                                    onclick="changePassword()">
                                Change Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function changePassword() {
        if ($('#oldPassword').val() === '') {
            alert('Please enter Old Password.');
            $('#oldPassword').focus();
            return;
        }
        if ($('#newPassword').val() === '') {
            alert('Please enter New Password.');
            $('#newPassword').focus();
            return;
        }
        if ($('#newPassword').val() != $('#confirmPassword').val()) {
            alert('Passwords do not match.');
            return;
        }

        var mobile = JSON.parse(localStorage.getItem('token')).username;
        var token = JSON.parse(localStorage.getItem('token')).access_token;

        $.ajax({
            url: '/api/User/ChangePassword?mobile=' + mobile + '&oldPassword=' +
                $("#oldPassword").val() + '&newPassword=' + $("#newPassword").val(),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            headers: { 'Authorization': 'Bearer ' + token },
            beforeSend: function () {
                $('#loading').show();
            },
            complete: function () {
                $('#loading').hide();
            },
            success: function (res) {
                console.log(res);
                if (res.added) {
                    alert(res.message);
                    localStorage.removeItem('token');
                    window.location = '/login';
                } else {
                    alert(res.message);
                }
            },
            error: function (err) {
                console.log(err);
                alert(err.statusText);
            }
        });
    }
</script>

