
@{
    ViewBag.Title = "Vaccination";
}

<section class="dashboard-counts section-padding">
    <div class="container" style="margin-top:200px;margin-bottom:20px">
        <div class="row">
            <div class="col-md-12">
                <h2>Vaccination</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div id="vaccination"> </div>
            </div>
            <div class="col-md-1">
                <a href="/Home/DownloadVaccination" download>
                    Download
                </a>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/Information/Get",
            beforeSend: function () {
                $("#loading").show();
            },
            complete: function () {
                $("#loading").hide();
            },
            success: function (r) {
                if (r != null) {
                    $('#vaccination').html(r.vaccination);
                }
            },
            error: function (x) {
                alert(x.statusText);
            }
        });
    });
</script>

