
@{
    ViewBag.Title = "Login/Register";
}

<section class="clearfix" style="margin-top:200px;margin-bottom:50px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>Existing User, Login</h2>
                    </div>
                    <div class="card-body" id="footer" style="padding:10px">
                        <form class="php-email-form" >
                            <div class="form-group">
                                <input id="username" placeholder="Email/Mobile" type="text" class="form-control"
                                       required />
                            </div>
                            <div class="form-group">
                                <input id="password" placeholder="Password" type="password" class="form-control"
                                       required />
                            </div>
                            <div class="text-center"><button type="button" class="btn btn-primary" title="Login" onclick="doLogin()">Login</button></div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>New User, Register</h2>
                    </div>
                    <div class="card-body" id="footer" style="padding:10px">
                        <form class="php-email-form">
                            <div class="form-group">
                                <input id="name" placeholder="Name" type="text"
                                       class="form-control"
                                       required/>
                            </div>
                            <div class="form-group">
                                <input id="email" placeholder="Email" type="email"
                                       class="form-control"
                                       required />
                            </div>
                            <div class="form-group">
                                <input id="mobile" placeholder="Mobile" type="number"
                                       class="form-control"
                                       required />
                            </div>
                            <div class="form-group">
                                <input id="passwordRegister" placeholder="Password" type="password" class="form-control"
                                       required />
                            </div>
                            <div class="form-group">
                                <input id="confirmPassword" placeholder="Confirm Password" type="password" class="form-control"
                                       required />
                            </div>
                            <div class="text-center"><button type="button" class="btn btn-primary"
                                                             title="Register"
                                                             onclick="doRegister()">Register</button></div>
                        </form>
                        <div class="text-center">
                            @Html.ActionLink("Register as a Doctor", "DoctorRegister", "Login")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function doLogin() {
        $.ajax({
            url: "/api/token",
            type: "POST",
            data: $.param({ grant_type: 'password', username: $("#username").val(), password: $("#password").val() }),
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            beforeSend: function () {
                $('#loading').show();
            },
            complete: function () {
                $('#loading').hide();
            },
            success: function (res) {
                console.log(res);
                localStorage.setItem('token', JSON.stringify(res));
                if (res.role == 'Admin') {
                    window.location = '/admin';
                } else if (res.role == 'Doctor') {
                    window.location = '/doctor';
                } else {
                    window.location = '/user';
                }
            },
            error: function () {
                console.log('Error occured.');
                alert('Invalid Username/ Password');
            }
        });
    }

    function doRegister() {
        if (!/^[a-zA-Z ]+$/.test($('#name').val())) {
            alert('Only letters and spaces are allowed in name.');
            $('#name').focus();
            return;
        }
        var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (!reg.test($('#email').val())) {
            alert('Please enter a valid email.');
            $('#email').focus();
            return;
        }

        if (!/[0-9]+/.test($('#mobile').val())) {
            alert('Only digits allowed in mobile no.');
            $('#mobile').focus();
            return;
        }

        if ($('#password').val() === '') {
            alert('Password is required');
            $('#password').focus();
            return;
        }

        if ($('#passwordRegister').val() != $('#confirmPassword').val()) {
            alert('Passwords do not match.');
            return;
        }

        if ($('#mobile').val().length > 10) {
            alert('Only 10 digits allowed in Mobile Number.');
            $('#mobile').focus();
            return;
        }

        var userObj = {};
        userObj.name = $('#name').val();
        userObj.email = $('#email').val();
        userObj.mobile = $('#mobile').val();
        userObj.password = $('#passwordRegister').val();
        userObj.isActive = true;
        userObj.role = "User";

        $.ajax({
            url: '/api/User/Post',
            data: JSON.stringify(userObj),
            method: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $('#loading').show();
            },
            complete: function () {
                $('#loading').hide();
            },
            success: function (res) {
                if (res.added) {
                    alert('Registration done successfully. Please login now to access your account.');
                } else {
                    alert(res.message);
                }
            },
            error: function (err) {
                console.log('Error: ', err);
                alert(err);
            }
        });
    }
</script>

